{{extend 'layout.html'}}
{{if request.args(0)=='register' and auth.settings.registration_requires_approval:}}
<p>This system requires all registrations to be approved by an administrator prior to granting full access.  You will receive an email advising when your registration has been approved.  Up until that point you will not be able to submit or answer questions. </p>
{{pass}}

  {{if request.args(0)=='login':}}
  {{if not 'register' in auth.settings.actions_disabled:}}

  <a class="btn btn-primary btn-sm btn-group-sm" role="button" href="{{=URL(args='register')}}">{{=T('Register')}} </a>
  {{pass}}
  {{if not 'request_reset_password' in auth.settings.actions_disabled:}}

  <a class="btn btn-primary btn-sm btn-group-sm" role="button" href="{{=URL(args='request_reset_password')}}">{{=T('Lost Password')}} </a>
  {{pass}}
  {{pass}}


<h1>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h1>
<div id="web2py_user_form">
  {{=form}}

</div>
{{if request.args(0)=='register':}}
<p>Note: We appreciate that asking for registration is a bit of a pain and are working on alternatives.</p>
{{pass}}



<script>

function showcountryValue(newValue)
{
	document.getElementById("auth_user_country").value=newValue;
    jQuery('#subdivopt').empty();
    ajax('{{=URL('submit','subdivn')}}', ['country'], 'subdivopt');
    document.getElementById("auth_user_subdivision").value="Unspecified";
    console.log(newValue)
}

function showsubdivValue(newValue)
{
	document.getElementById("auth_user_subdivision").value=newValue;
}


jQuery(document).ready(function(){

   jQuery('#auth_user_country__row .help-block').html('<select id="countryopt" name="countryopt" onchange="showcountryValue(this.value)"> <option value="Unspecified">Unspecified</option>   </select>');
   jQuery('#auth_user_subdivision__row .help-block').html('<select id="subdivopt" name="subdivopt" onchange="showsubdivValue(this.value)"> <option value="Unspecified">Unspecified</option> </select>');

            jQuery('#auth_user_country').hide();
            jQuery('#auth_user_subdivision').hide();
            jQuery('#countryopt').empty();
            ajax('{{=URL('submit','country')}}', ['continent', 'country'], 'countryopt');
            //document.getElementById("countryopt").value=document.getElementById("auth_user_country").value;
            jQuery('#subdivopt').empty();
            ajax('{{=URL('submit','subdivn')}}', ['country', 'subdivision'], 'subdivopt');

            jQuery('#auth_user_continent').change(function(){            
            jQuery('#countryopt').empty();
            ajax('{{=URL('submit','country')}}', ['continent','country'],b 'countryopt');});
            //document.getElementById("countryopt").value=document.getElementById("auth_user_country").value;

            jQuery('#auth_user_country').change(function(){
            jQuery('#subdivopt').empty();
            ajax('{{=URL('submit','subdivn')}}', ['country','subdivision'], 'subdivopt');});
});

    /* Settings here are for the fields on the form that you want mapped to the address code and the lat_id and lng_id that is set in
       plugin_location_picker - doubtless these could in some manner be defined in python and transferred here however this will suffice
       for now as hopefully only need the address stuff once anyway for what I am doing now
     */
    var lwlat = "#lw_lat";
    var lwlng = "#lw_lng";
    var addr1 = "#locn_address1";
    var addr2 = "#locn_address2";
    var addr3 = "#locn_address3";
    var addr4 = "#locn_address4";
    var addr_country = "#locn_country";

//only update with current location if not set on the record already
//may make this optional at some point as well - but not in simple plugin
//maybe an actual app preference on user profile    
if ($(lwlat).val() == 0 && $(lwlng).val() == 0 && navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success);
};


function geo_refresh() {
$("#lw_map").geolocate({
	lat: lwlat,
	lng: lwlng
});
    }

function success(position) {
     $(lwlat).val(position.coords.latitude);
     $(lwlng).val(position.coords.longitude);
     geo_refresh();
    };
   
$(lwlat ).change(function() {
     geo_refresh();
});   

$(lwlat ).change(function() {
     geo_refresh();
});  

  </script>
