{{extend 'layout.html'}}
<h1>Message Maintenance</h1>
<p>Messages are used as the templates for creating emails which can then be forwarded on by users to key individuals responsible for implementing the actions. This system only ever sends messages to logged on users - and it is not desiged to be a mass mailing tool of any sort as these are generally fairly ineffective.</p>
<p>It is envisaged that there will be 2 standard messages to begin with - one with details of a specific action and one as a general mail to try and get key individuals on board with what we are trying to do. </p>

{{=grid}}

