{{from ndspermt import get_proj_buttons}}
{{from ndsfunctions import disp_author}}
{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}
<table id='TabLocation' class="table-condensed table-bordered table-striped">
				<thead>
					<tr>
						<th>Name</th>
                        <th>Desciption</th>
                        <th>Owner</th>       
                        <th>Start</th>  
                        <th>End</th>                          
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(projects):}}
<tr>
<th>{{=row.proj_name}}</th>
<td>{{=row.description}}<br>{{=get_proj_buttons(row.id, row.proj_shared, row.proj_owner, auth.user_id)}}</td>
<td>{{=disp_author(row.proj_owner)}}</td>
<td>{{=row.startdate.strftime('%d, %b %Y')}}</td>
<td>{{=row.enddate.strftime('%d, %b %Y')}}</td>
</tr>
{{pass}}
 </tbody>
</table>


