{{from ndspermt import get_locn_buttons}}
{{from ndsfunctions import disp_author}}
{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}
<table id='TabLocation' class="table-condensed table-bordered table-striped">
				<thead>
					<tr>
						<th width="20%">Name</th>
                        <th width="70%">Desciption</th>
                        <th width="10%">Owner</th>                        
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(projects):}}
<tr>
<th>{{=row.proj_name}}</th>
<td>{{=row.description}}<br>{{#get_locn_buttons(row.id, row.locn_shared, row.auth_userid, auth.user_id)}}</td>
<td>{{=disp_author(row.proj_owner)}}</td>
</tr>
{{pass}}
 </tbody>
</table>


