{{extend 'layout.html'}}

<h1 data-toggle =" popover" title ="Locations are used to group events and they can be physical or virtual.  All events must have a location and as a creator of a location you can choose if it is shared with other users so they can add events or if only you as the owner of the event can do this." data-content="">Create Location</h1>

{{=form}}

{{block right_sidebar}}

{{include 'sidebar3dv4js.html'}}

{{end}}

<script>
    {{include 'location/new_location.js'}}
</script>



