{{extend 'layout.html'}}

<h1 data-toggle =" popover" title ="Locations are used to group events and they can be physical or virtual.  All events must have a location and as a creator of a location you can choose if it is shared with other users so they can add events or if only you as the owner of the event can do this." data-content="">Create Location</h1>

{{=form}}

{{block right_sidebar}}

{{include 'sidebar.html'}}

{{end}}

<script>

function showcountryValue(newValue)
{
	document.getElementById("location_country").value=newValue;
    jQuery('#subdivopt').empty();
    ajax('{{=URL('submit','subdivn')}}', ['country'], 'subdivopt');
    document.getElementById("location_subdivision").value="Unspecified";
}

function showsubdivValue(newValue)
{
	document.getElementById("location_subdivision").value=newValue;
}


jQuery(document).ready(function(){

   $(" body").tooltip({selector: '[data-toggle = popover]'}); 
   $('#location_country__row .w2p_fc').html('<select id="countryopt" name="countryopt" onchange="showcountryValue(this.value)"> <option value="Unspecified">Unspecified</option>   </select>');
   $('#location_subdivision__row .w2p_fc').html('<select id="subdivopt" name="subdivopt" onchange="showsubdivValue(this.value)"> <option value="Unspecified">Unspecified</option> </select>');

            $('#location_country__row .w2p_fw').hide();
            $('#location_subdivision__row .w2p_fw').hide();

            $('#location_continent').change(function(){
            $('#countryopt').empty();
            ajax('{{=URL('submit','country')}}', ['continent'], 'countryopt');});

            $('#location_country').change(function(){
            $('#subdivopt').empty();
            ajax('{{=URL('submit','subdivn')}}', ['country'], 'subdivopt');});


});

</script>



