{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

{{=form}}


<div id="target"></div>

<div id="newresitems"></div>
    <script>
$("#newresitems").load("{{=URL('review', 'activity.load',args=['weekly','html','notdefault','resolved'], vars=dict(selection='IM'))}}","test", function() {
  $('#Resitems').DataTable({responsive: true})});
</script>

<div id="newallitems"></div>
    <script>
$("#newallitems").load("{{=URL('review', 'activity.load',args=['weekly','html','notdefault','submitted'], vars=dict(selection='IM'))}}","test", function() {
    $('#TabActions').DataTable({responsive: true})});
</script>

 <script>
{{include 'review/newindex.js'}}

</script>



