{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}
{{from ndsfunctions import truncquest}}
<h1>My Answers</h1>
{{=form}}

{{if quests:}}
<table id='TabAnswers' class='table issuetable2 table-bordered table-condensed'>
				<thead>
					<tr>
						<th width="5%">Level</th>
                        <th width="50%">Question</th>
                        <th width="8%">Status</th>
                        <th width="15%">My Answer</th>
                        <th width="16%">Correct Ans</th>
                        <th width="6%">Score</th>                     
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(quests):}}
{{if i==items_per_page: break}}
{{rowans=0}}
<tr class={{if row.questionid.status == 'In Progress':}}"text-info"{{elif row.answer == row.questionid.correctans:}}"text-success"((rowans=1}}{{else:}}"text-warning"((rowans=2}}{{pass}}>
<th><a href="{{=URL('viewquest','index',args=[row.questionid.id])}}">{{=row.questionid.level}}</a></th>
<td>{{=truncquest(row.questionid.questiontext)}}</td>
<td>{{if row.status == 'In Progress':}}In Progress{{else:}}{{=row.questionid.status}} {{pass}}</td>
<td>{{=row.questionid.answers[row.answer-1]}}</td>
<td>{{if row.status == 'In Progress':}}-{{else:}}{{=row.questionid.correctanstext}} {{pass}}</td>
<td>{{=row.score}}</td>
</tr>
{{pass}}
 </tbody>
</table>
                        
{{if page:}}
<INPUT TYPE=BUTTON class="btn btn-primary btn-sm" onClick="parent.location='{{=URL(args=[page-1,q,s])}}'" VALUE="Previous">
{{pass}}

{{if len(quests)>items_per_page:}}
<INPUT TYPE=BUTTON class="btn btn-primary btn-sm" onClick="parent.location='{{=URL(args=[page+1,q,s])}}'" VALUE="Next">
{{pass}}

{{else:}}
<p>No questions for selected filters.</p>
{{pass}}

<script>
function showcountryValue(newValue)
{
	document.getElementById("viewscope_country").value=newValue;
    $('#subdivopt').empty();
    ajax('{{=URL('submit','subdivn')}}', ['country'], 'subdivopt');
    document.getElementById("viewscope_subdivision").value="Unspecified";
};

function showsubdivValue(newValue)
{
	document.getElementById("viewscope_subdivision").value=newValue;
};


$(document).ready(function(){
     $('#viewscope_country__row .w2p_fc').html('<select id="countryopt" name="countryopt" onchange="showcountryValue(this.value)"> <option value="{{=form.vars.country}}">{{=form.vars.country}}</option>   </select>');
   $('#viewscope_subdivision__row .w2p_fc').html('<select id="subdivopt" name="subdivopt" onchange="showsubdivValue(this.value)"> <option value="{{=form.vars.subdivision}}">{{=form.vars.subdivision}}</option> </select>');

    $('#viewscope_continent__row').hide();    
    $('#viewscope_country__row .w2p_fw').hide();    
    $('#viewscope_subdivision__row .w2p_fw').hide(); 

    if($("[id='scope1 Global']").prop('checked'))
            {$('#viewscope_continent__row').hide()
            $('#viewscope_country__row').hide()
            $('#viewscope_subdivision__row').hide()};
    if($("[id='scope2 Continental']").prop('checked'))
            {$('#viewscope_continent__row').show()
            $('#viewscope_country__row').hide()
            $('#viewscope_subdivision__row').hide()};
    if($("[id='scope3 National']").prop('checked'))
            {$('#viewscope_continent__row').show();
            $('#viewscope_country__row').show();
            $('#viewscope_country__row .w2p_fw').hide();
            $('#viewscope_subdivision__row').hide()};
     if($("[id='scope4 Local']").prop('checked'))
            {$('#viewscope_continent__row').show()
            $('#viewscope_country__row').show();
            $('#viewscope_country__row .w2p_fw').hide();
            $('#viewscope_subdivision__row').show();
            $('#viewscope_subdivision__row .w2p_fw').hide()};


    if ($('#viewscope_showscope').prop('checked')==false){
       $('#viewscope_scope__row').hide();
       $('#viewscope_continent__row').hide();
       $('#viewscope_country__row').hide();
       $('#viewscope_subdivision__row').hide();};
    if ($('#viewscope_showcat').prop('checked')==false){
        $('#viewscope_category__row').hide();};


   $('#viewscope_showcat').change(function(){
              $('#viewscope_category__row').toggle()});

   $('#viewscope_showscope').change(function(){
            if($('#viewscope_showscope').prop('checked')==false) {
                $('#viewscope_scope__row').hide();
                $('#viewscope_continent__row').hide();
                $('#viewscope_country__row').hide();
                $('#viewscope_subdivision__row').hide();}
            else
                {$('#viewscope_scope__row').show();
            if($("[id='scope3 National']").prop('checked'))
            {$('#viewscope_continent__row').show()
            $('#viewscope_country__row').show()
            $('#viewscope_subdivision__row').hide()};
            if($("[id='scope1 Global']").prop('checked'))
            {$('#viewscope_continent__row').hide()
            $('#viewscope_country__row').hide()
            $('#viewscope_subdivision__row').hide()};
            if($("[id='scope2 Continental']").prop('checked'))
            {$('#viewscope_continent__row').show()
            $('#viewscope_country__row').hide()
            $('#viewscope_subdivision__row').hide()};
            if($("[id='scope4 Local']").prop('checked'))
            {$('#viewscope_continent__row').show()
            $('#viewscope_country__row').show()
            $('#viewscope_subdivision__row').show()};}

            });

   $('input[name=scope]').change(function(){
            if($("[id='scope1 Global']").prop('checked'))
            {$('#viewscope_continent__row').hide()
            $('#viewscope_country__row').hide()
            $('#viewscope_subdivision__row').hide()};
            if($("[id='scope2 Continental']").prop('checked'))
            {$('#viewscope_continent__row').show()
            $('#viewscope_country__row').hide()
            $('#viewscope_subdivision__row').hide()};
            if($("[id='scope3 National']").prop('checked'))
            {$('#viewscope_continent__row').show()
            $('#viewscope_country__row').show()
            $('#viewscope_country__row .w2p_fw').hide();
            $('#viewscope_subdivision__row').hide()};
            if($("[id='scope4 Local']").prop('checked'))
            {$('#viewscope_continent__row').show()
            $('#viewscope_country__row').show()
            $('#viewscope_country__row .w2p_fw').hide();
            $('#viewscope_subdivision__row').show()
            $('#viewscope_subdivision__row .w2p_fw').hide()};
            });

            $('#viewscope_continent ').change(function(){            
            $('#countryopt').empty();
            ajax('{{=URL('submit','country')}}', ['continent'], 'countryopt');});

            $('#viewscope_country').change(function(){
            $('#subdivopt').empty();
            ajax('{{=URL('submit','subdivn')}}', ['country'], 'subdivopt');});



});

</script>

