{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{load_dt_exp=True}}
{{from ndspermt import get_planfooter_buttons}}
{{extend 'layout.html'}}

    <link rel="stylesheet" href="{{=URL('static','css/jsgantt.css')}}"/>

{{=form}}

<div id="target"></div>

{{if 'Issue' in session.selection and 'Draft' in session.selection:}}
<h1>Draft Issues</h1>
<div id="issuedraft">
{{=LOAD('default','questload.load',args=['newindex','Issue'],vars=dict(selection='IM'),ajax=True,target="issuedraft")}}
</div>
{{pass}}

{{if 'Issue' in session.selection and 'Proposed' in session.selection:}}
<h1>Issues in Progress</h1>
<div id="issueprog">
{{=LOAD('default','questload.load',args=['newindex','Issue'],vars=dict(selection='IP'),ajax=True,target="issueprog")}}
</div>
{{pass}}

{{if 'Issue' in session.selection and 'Resolved' in session.selection:}}
<h1>Resolved Issues</h1>
<div id="issueresolved">
{{#LOAD('default','questload.load',args=['newindex','Issue'],vars=dict(selection='IR'),ajax=True,target="issueresolved")}}

     <script>
$("#issueresolved" ).load("{{=URL('default', 'questload.load',args=['newindex','Issue'], vars=dict(selection='IR',items_per_page=50,sortby='ResDate'))}}","test", function() {
  $('#IR').DataTable({dom: 'Bfrtip', buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],responsive: true});});
</script>

</div>
{{pass}}

{{if 'Question' in session.selection and 'Draft' in session.selection:}}
<h1>Draft Questions</h1>
<div id="questdraft">
{{#LOAD('default','questload.load',vars=dict(selection='QD'),ajax=True,target="questdraft")}}
     <script>
$("#questdraft" ).load("{{=URL('default', 'questload.load', vars=dict(selection='QD',items_per_page=50,sortby='ResDate'))}}","test", function() {
  $('#QD').DataTable({dom: 'Bfrtip', buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],responsive: true});});
</script>
</div>
{{pass}}

{{if 'Question' in session.selection and 'Proposed' in session.selection:}}
<h1>Questions in Progress</h1>
<div id="questprog">
    <script>
$("#questprog").load("{{=URL('default', 'questload.load', vars=dict(selection='QP',items_per_page=50, sortby='ResDate'))}}","test", function() {
  $('#QP').DataTable({dom: 'Bfrtip', buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],responsive: true});} );
</script>

</div>
{{pass}}

{{if 'Question' in session.selection and 'Resolved' in session.selection:}}
<h1>Resolved Questions</h1>
<div id="questresolved">
    <script>
$( "#questresolved" ).load("{{=URL('default', 'questload.load', vars=dict(selection='QR',items_per_page=50,sortby='ResDate'))}}","test", function() {
  $('#QR').DataTable({dom: 'Bfrtip', buttons: ['copy', 'csv', 'excel', 'pdf', 'print'], responsive: true});} );
</script>
</div>
{{pass}}

{{if 'Action' in session.selection and 'Draft' in session.selection:}}
<h1>Draft Actions</h1>
<div id="actiondraft">
{{=LOAD('default','questload.load',vars=dict(selection='AM'),ajax=True,target="actiondraft")}}
</div>
{{pass}}

{{if 'Action' in session.selection and 'Proposed' in session.selection:}}
    <h1>Proposed Actions</h1>
<div id="actionprog">
    <script>
$( "#actionprog" ).load("{{=URL('default', 'questload.load', args=['newindex'],vars=dict(selection='AP', items_per_page=50, query='home', sortby='ResDate'))}}","test", function() {
  $('#AP').DataTable({dom: 'Bfrtip', buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],responsive: true});});
</script>
</div>
{{pass}}

{{if 'Action' in session.selection and 'Resolved' in session.selection and v != 'plan' and v != 'recur' :}}
    <h1>Resolved Actions</h1>
<div id="actionresolved">
    <script>
$( "#actionresolved" ).load("{{=URL('default', 'questload.load', args=['newindex'],vars=dict(selection='AR', items_per_page=50, query='home', sortby='ResDate'))}}","test", function() {
  $('#AR').DataTable({dom: 'Bfrtip', buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],responsive: true});} );
</script>
</div>

{{pass}}

{{if 'Action' in session.selection and 'Resolved' in session.selection and v == 'recur' :}}
    <h1>Recurring Actions</h1>
<div id="recurview">
    <script>
$( "#recurview" ).load("{{=URL('default', 'questload.load', args=['newindex'],vars=dict(selection='AR', items_per_page=50, query='home', sortby='ResDate'))}}","test", function() {
  $('#AR').DataTable({dom: 'Bfrtip', buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],responsive: true});} );
</script>
</div>

{{pass}}


{{if 'Action' in session.selection and 'Resolved' in session.selection and v == 'plan':}}
<h1 data-toggle =" popover" title ="Actions can only be planned once they have been agreed.
Then you can set start and end dates and track status and responsibility" data-content=""> Action Plan</h1>



<div id="actionplan">

    <script src="{{=URL('static','js/jsgantt.js')}}"></script>

<script>
$( "#actionplan" ).load("{{=URL('default', 'questload.load', args=['newindex'],vars=dict(selection='PL', items_per_page=50, query='home', sortby='Priority'))}}","test", function() {
  $('#PL').DataTable({dom: 'Bfrtip', buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],responsive: true});} );
</script>

</div>
{{pass}}

<p>{{=get_planfooter_buttons()}}</p>

<script>
{{include 'review/newindex.js'}}
</script>



