{{extend 'layout.html'}}

<h1 data-toggle =" popover" title ="Questions and actions can be submitted with a list of 2 or more answers on any relevent subject" data-content="">{{=heading}}</h1>

{{=form}}

{{block right_sidebar}}

{{include 'sidebar3djs.html'}}

{{end}}

<script>
$(document).ready(function(){
     $('#question_execstatus').change(function(){
     if($('#question_execstatus option:selected').text()=='Completed')
            {document.getElementById("question_perccomplete").value="100"};
});
$('#question_startdate').focus(function() {
  this.blur();
});
});
</script>