{{load_multiselect=True}}
{{extend 'layout.html'}}

<h1 data-toggle =" popover" title ="Questions and actions can be submitted with a list of 2 or more answers on any relevent subject" data-content="">{{=heading}}</h1>

{{=form}}

{{block right_sidebar}}

{{include 'sidebar3djs.html'}}

{{end}}

<script>
$(document).ready(function(){
     $('#question_execstatus').change(function(){
     if($('#question_execstatus option:selected').text()=='Completed')
            {document.getElementById("question_perccomplete").value="100";
                var d = new Date();
             document.getElementById("question_startdate").value = d.getFullYear()+'-'+(d.getMonth()+1)+'-'+d.getDate();
             document.getElementById("question_enddate").value = d.getFullYear()+'-'+(d.getMonth()+1)+'-'+d.getDate();}
});
/* hide touchscreen keyboards */
$('#question_startdate').focus(function() {
  this.blur();
});
$('#question_enddate').focus(function() {
  this.blur();
});
});
</script>