{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}
{{from ndspermt import get_group_buttons}}
<h1>Group Membership</h1>

{{if ingroups:}}
<h3>Groups You are currently a member of</h3>

<table id='TabActions' class='table issuetable2 table-bordered table-condensed'>
				<thead>
					<tr>
						<th width="20%">Group</th>
                        <th width="50%">Description</th>
                        <th width="15%">Type</th>
                        <th width="15%">Owner</th>
                        <th width="15%">Actions</th>                      
                    </tr>
                </thead>
                    <tbody>
{{for row in ingroups:}}
<tr>
<th>{{=row.group_name}}</th>
<td>{{=row.group_desc}}</td>
<td>{{=row.group_type}}</td>
    <td>{{if row.group_owner == auth.user_id:}}Yes{{else:}}No{{pass}}</td>
<td>{{=get_group_buttons(row.id, row.group_type, row.group_owner, auth.user_id, True)}}</td>
</tr>
{{pass}}
 </tbody>
</table>
{{else:}}
<h3>Groups You are not currently a member of any groups</h3>                       
{{pass}}

<div id='target'></div>
{{if availgroups:}}
<h3>Groups You may join</h3>
<table id='TabActions' class='table issuetable2 table-bordered table-condensed'>
				<thead>
					<tr>
						<th width="20%">Group</th>
                        <th width="50%">Description</th>
                        <th width="15%">Type</th>
                        <th width="15%">Actions</th>                      
                    </tr>
                </thead>
                    <tbody>
{{for row in availgroups:}}
<tr>
<th>{{=row.group_name}}</th>
<td>{{=row.group_desc}}</td>
<td>{{=row.group_type}}</td>
<td>{{=get_group_buttons(row.id, row.group_type, row.group_owner, auth.user_id, False)}}
</td>
</tr>
{{pass}}
 </tbody>
</table>
{{else:}}         
<h3>There are no groups currently available for you to join</h3>        
{{pass}}
