{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}
<h1 data-toggle =" popover" title ="Groups are used to group and hide questions from users that are not part of the group. All users can see questions with an unspecified group and questions relating to other groups they are members of.  Anyone can join public groups and anyone can apply to join 'apply' groups but will need to be approved by the group.  There are also invitation only and admin appointed groups" data-content="">Create Group </h1>

{{=form}}

{{block right_sidebar}}

{{include 'sidebar3dv4js.html'}}

{{end}}

<script>
$(document).ready( function()
 { $("body").tooltip({selector: '[data-toggle = popover]'});
 }); 
</script >


