{{extend 'layout.html'}}

<h1 data-toggle =" popover" title ="Questions and actions can be submitted with up to 10 answers on any relevent subject" data-content="">{{=heading}}</h1>

{{=form}}

{{block right_sidebar}}

{{include 'sidebar.html'}}

{{end}}

<script>

function showcountryValue(newValue)
{
	document.getElementById("question_country").value=newValue;
    $('#subdivopt').empty();
    ajax('{{=URL('submit','subdivn')}}', ['country'], 'subdivopt');
    document.getElementById("question_subdivision").value="Unspecified";
}

function showsubdivValue(newValue)
{
	document.getElementById("question_subdivision").value=newValue;
}


$(document).ready(function(){
   $(" body").tooltip({selector: '[data-toggle = popover]'}); 
   $('#question_continent__row').hide();
   $('#question_country__row').hide();
   $('#question_subdivision__row').hide();
   $('#question_country__row .w2p_fc').html('<select id="countryopt" name="countryopt" onchange="showcountryValue(this.value)"> <option value="Unspecified">Unspecified</option>   </select>');
   $('#question_subdivision__row .w2p_fc').html('<select id="subdivopt" name="subdivopt" onchange="showsubdivValue(this.value)"> <option value="Unspecified">Unspecified</option> </select>');
   $('#question_numanswers__row').nextAll().eq(2).hide();
   $('#question_numanswers__row').nextAll().eq(3).hide();
   $('#question_numanswers__row').nextAll().eq(4).hide();
   $('#question_numanswers__row').nextAll().eq(5).hide();
   $('#question_numanswers__row').nextAll().eq(6).hide();
   $('#question_numanswers__row').nextAll().eq(7).hide();
   $('#question_numanswers__row').nextAll().eq(8).hide();
   $('#question_numanswers__row').nextAll().eq(9).hide();
   $('#question_numanswers').change(function(){
            if($('#question_numanswers').val()>=3)
               $('#question_numanswers__row').nextAll().eq(2).show();
	        if($('#question_numanswers').val()>=4)
               $('#question_numanswers__row').nextAll().eq(3).show();
            if($('#question_numanswers').val()>=5)
               $('#question_numanswers__row').nextAll().eq(4).show();
            if($('#question_numanswers').val()>=6)
               $('#question_numanswers__row').nextAll().eq(5).show();
            if($('#question_numanswers').val()>=7)
               $('#question_numanswers__row').nextAll().eq(6).show();
            if($('#question_numanswers').val()>=8)
               $('#question_numanswers__row').nextAll().eq(7).show();
            if($('#question_numanswers').val()>=9)
               $('#question_numanswers__row').nextAll().eq(8).show();
            if($('#question_numanswers').val()>=10)
               $('#question_numanswers__row').nextAll().eq(9).show();});
    $('#question_activescope').change(function(){
            if($('#question_activescope option:selected').text()=='2 Continental')
            {$('#question_continent__row').show()
            $('#question_country__row').hide()
            $('#question_subdivision__row').hide()};
            if($('#question_activescope option:selected').text()=='1 Global')
            {$('#question_continent __row').hide()
            $('#question_country__row').hide()
            $('#question_subdivision__row').hide()};
            if($('#question_activescope option:selected').text()=='3 National')
            {$('#question_continent__row').show();
            $('#question_country__row').show();
            $('#question_country__row .w2p_fw').hide();
            $('#question_subdivision__row').hide()};
            if($('#question_activescope option:selected').text()=='4 Local')
            {$('#question_continent__row').show()
            $('#question_country__row').show()
            $('#question_country__row .w2p_fw').hide();
            $('#question_subdivision__row').show();
            $('#question_country__row .w2p_fw').hide();
            $('#question_subdivision__row .w2p_fw').hide();};});

            $('#question_continent ').change(function(){            
            $('#countryopt').empty();
            ajax('{{=URL('submit','country')}}', ['continent'], 'countryopt');});

            $('#question_country').change(function(){
            $('#subdivopt').empty();
            ajax('{{=URL('submit','subdivn')}}', ['country'], 'subdivopt');});


});

</script>
