{{extend 'layout.html'}}

<h1>Available Downloads</h1>

<ul>
{{for download in downloads:}}
{{=LI(A(download.title, _href=URL("about", "download", args=download.download_file)))}}
<p>{{=download.description}}</p>
{{pass}}
</ul>
<h2>Links and Documentation</h2>
<p>This is an open source project and feedback, suggestions and contributions are welcome.
    The source code is maintained on github at the following url:
    <a href="https://github.com/DonaldMcC/gdms">https://github.com/DonaldMcC/gdms</a> </p>
<p>The main supporting documentation for installation, configuration and testing of the software is
    maintained on penflip at the following url:
    <a href="https://www.penflip.com/donaldm2020/net-decision-making-manual">https://www.penflip.com/donaldm2020/net-decision-making-manual</a></p>


