{{extend 'layout.html'}}
<h1>Future Enhancements</h1>

<p>There are a number of future enhancements that have been considered.  This page lists a few of these.  However the
    proposal at present is to implement none of them until we get some sort of feedback on the system as it currently
    stands.  There are probably a large number of other features that may also be desirable and many issues that we
    have not considered.</p>
<h2>Geolocation rules</h2>
<p>At present we just allow users to enter their location and if they do so then they would only be presented with
    questions from their local.  However users are free not to use this and they may also specify any location they want.
    Potentially we could be more restrictive with this and insist on using geo-location information from the users and
    potentially have rules on answering questions.  For example it may be reasonable to look to get an answer from 3
    different continents for a global decision and it may also be sensible to enforce that local or national decisions
    are being taken by people in the relevant country or area.
    This sort of thing probably only makes sense once there is a critical mass of users.</p>
<h2>Social networking integration</h2>
<p>There seems to be two main aspects to this.  Firstly we might want to integrate and promote users achievements and
    the system via twitter, facebook etc.  We are not huge fans of these activities in general however they are popular
    in many areas and could help to speed up adoption.
The second option we are keener on is allowing users to ask their friends questions.  This would probably work best if
    users were able to be confident in the confidentiality of their answers as there is currently no easy mechanism to
    ask a question and get effectively anonymous feedback from your friends.</p>
<h2>Confidentiality in general</h2>
<p>At present the system is maintaining a full audit trail of who answered what question, albeit users answers are not
    published to other users.  Potentially we might want better security than this and we could introduce fully
    anonymous questions and also delete individual users answers once a question is resolved.  Fully anonymous answers
    may be a problem on the scoring side as crediting users for getting the answers correct without keeping a record of
    what their answers were until resolved may be a bit tricky.  We could potentially also relax privacy for users that
    want to provide visibility of their answers to others and while there are challenges to deliver both privacy and
    accountability there are many techniques available generally that can improve this area.  However ultimately our
    current thinking is that accountability trumps privacy and living in a shared universe requires accountability.</p>
<h2>Elimination rounds</h2>
<p>We think there may be a case for solving questions with large number of answers via an elimination process or
    knock-out.</p>
<h2>Putting questions on hold</h2> 
<p>If we were to have elimination rounds or really any sort of question that may need some time to research before
    answering then there is probably a need to have the ability to put the question on hold until you are ready to
    answer.  This seems fairly straightforward and we are not hugely concerned if this means occasionally users end up
    answering questions that have been resolved by others while they were researching.
    This again seems fairly straightforward functionality to add in.</p>
<h2>Better action tracking</h2> 
<p>Present action tracking is quite basic – if we are actually to have a system to control and manage major
    changes there is quite a bit more work required in this area.  Initial steps would be sending full details and a
    link to the system along with the action.  However there is a lot more that could be done here.  In terms of
    monitoring and regular update on progress with actions and giving credit to users for completing tasks.</p>

<p>Please provide feedback to Russ with your views email: newglobalstrategy 'at' gmail.com </p>

{{block right_sidebar}}

{{include 'sidebar3djs.html'}}

{{end}}

