{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<script type="text/javascript">

$(document).ready(function () {
$('.collapse').collapse()

});
</script>


<h1>Frequently Asked Questions</h1>

<p>This system is the product of a great deal of frustration and hard examination of the way the world currently works.  The primary objectives are to try and inspire others to work together to make a better world and to promote some deeper investigation in the coming years on how we may significantly extend life expectancy.  It seems inevitable that social networking software will extend its reach in the not too distant future however the pace of change can often be frustratingly slow.  The key thing that&apos;s required for change to happen is participation and sharing of ideas.  The future really can be much better than the past.</p>


<h2>Why do we need this?</h2>
      
<div class="answer">
<p>Some sort of system seems necessary to support large scale collective decision making.  Meeting functionality declines rapidly once a meeting exceeds about 20 participants and elections and surveys are also highly inefficient and unsatisfactory methods of decision making.  An alternative approach where consensus is required to resolve an issue and we then start working on other issues seems a far more efficient and fun approach.</p> 
<p>We will have a lot of decisions to make in the years ahead and it seems rather unfair and probably irresponsible to burden our leaders with all these responsibilities.  If we all participate then we can feel involved and share in the challenge.
</p>
      </div>
      
<h2>Is this important?</h2>
      
<div class="answer">
        <p>Potentially this is very important.  Extending life expectancy and better sharing of resources has the potential to change billions of lives for the better.  There would be new obligations placed on those with power and wealth to participate and share in the fun, however they could be well rewarded for doing so and it should not require coercion to bring them on board.</p>
      </div>
      
<h2>Why not just have a meeting and discuss things?</h2>
      
<div class="answer">
        <p>It will never be practical to hold a meeting of 7 billion people so we do need to look at alternative means to create some alignment on this planet.  Alignment behind a credible global strategy is currently sadly lacking and this could be viewed as somewhat embarrassing.</p>
      </div>

<h2>Isn&apos;t this just a survey tool by another name?</h2>
      
<div class="answer">
        <p>No &shy; this differs from a survey tool in two key respects:</p>
<ol><li>Questions are only asked until they appear to be resolved at which point we stop asking them unless a number of users challenge the answer.  This allows effort and discussion to be focussed on issues where there is disagreement.</li>
<li>This tool has real ambition to develop into an established system to run the planet.  Initial implementations will need to be on a smaller scale but the end objective is very clear.  Initially this would only be a support for existing methods of decision making however because it requires at least 3 independent people to be wrong before a mistake happens and because all decisions are open and not readily subject to influence or established elitism it is likely to make much better decisions than are achieved by existing methods.</li></ol>
</div>
<h2>Why can&apos;t I see who made the decision?</h2>
      
<div class="answer">
        <p>At present the system is being highly respectful of users privacy and the focus is on what is the correct decision, not who made the decision.  This may be amended in later versions depending on the preferences of the design team.  And everyone is welcome to join the design team.</p>
      </div>

<h2>How is this different to just posting questions on line on the many sites that support this?</h2>
      
<div class="answer">
        <p>It differs in a number of ways:</p>
<ul><li>For any question to be resolved three people must independently and consecutively agree on the answer.  This means that mistakes are likely to be relatively rare as all 3 people must make errors for the question to be resolved incorrectly.</li>
<li>There is a hierarchy of decision makers and so more difficult questions will be escalated to people that have built up a history of getting questions correct (albeit this would take a little time to get going).</li>
<li>It provides a platform for mass involvement in the key decisions of the day.  At present these are largely removed from the people that are affected by them and heavily politicised.</li>
</ul>
</div>
<h2>Could this be used within companies and other organisations?</h2>
      
<div class="answer">
        <p>Yes this should be a great tool for any organisation with an enlightened and democratic leadership style as it helps empower the entire organisation and provides insight into areas of agreement and conflict.  However more autocratic and control and command based organisations are unlikely to be interested in this tool.</p>
      </div>

<h2>Why do we need a global strategy?</h2>
      
<div class="answer">
        <p>Virtually all large corporations find a global strategy is helpful to maintain some sort of alignment of the activities they are undertaking.  However the planet as a whole has no strategy and quite limited alignment.  This typically results in countries seeking to out-compete each other and while this is clearly inefficient and wasteful it is not at all easy to prevent.  Getting global visibilty of what people want and what is acceptable behaviour seems a necessary step forward that can then be used to apply pressure and monitor key individuals who appear to be acting in conflict with the agreed standards and strategy.  We recognise that peer pressure may not be enough and hence we are looking to open up some discussion on the possibility of restrictions on access to new innovations in healthcare if people persist in defying consensus.</p>
      </div>

<h2>Why is there no discussion forum?</h2>
      
<div class="answer">
        <p>This has been considered and at present it is not offered as the vast majority of discussion postings start with a question.  The purpose of the software is actually to organise actions to make the world better.  While discussion is encouraged and there are features to discuss all resolved questions the recommendation is that if you want to discuss something then you should structure it as a question in order to establish if this is something that there is agreement about or not.  Arguably many discussion forums would benefit from providing this more structured approach to resolving issues.</p>
      </div>






