{{extend 'layout.html'}}

<h1>Press Release</h1>
<p>Networked decision making v3.0  has now been launched.  This is a web based platform for decision making and action prioritisation.   The internet revolutionised communication in part by moving from the synchronised approach of the telephone to the asynchronous mechanisms of email, messaging and websites.  A similar revolution has not yet taken place in decision making with meetings, voting and unilateral decisions prevailing.</p>
<p>The platform is open source and development is on-going. Likely early adopters of this platform will be voluntary organisations such as clubs, societies and perhaps charities.  It is hoped some private companies with enlighted executives may also seek to become involved.  This should be a fun project that brings real benefits to the entire planet and we have some controversial ideas to assist with adoptino. The initial 2020 vision is to get global life expectancy to 80 by that date and as there are many issues to be tackled to achieve this it seems that creating a platform to get alignment around shared objectives is surely part of the way forward.  It is envisaged that once a global strategy is established global political, corporate and economic elites will be placed on notice that their entitlement to participate in the benefits of future advances in healthcare may depend on their alignment with that strategy. </p>

<h1>Links</h1>
<ul>
<li><a href="http://proudofyourplanet.blogspot.com">Russ King’s Blog </a></li>
<li><a href="http://code.google.com/p/global-decision-making-system/">Development Site with source code</a></li>
<li><a href="http://www.scribd.com/doc/98216626/New-Global-Strategy">Global Strategy - the bigger picture </a></li>
</ul>

<p>Full details on the background and ultimate ambition of this software which is to establish a global decision making system are available in the following document which details why a  <a href="http://www.scribd.com/doc/98216626/New-Global-Strategy"> New Global Strategy </a> for the planet could be highly worthwhile and rather fun to put in place. </p>
