{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<h1>Networked Decision Making Privacy Policy</h1>

<p>At Net Decision Making we are committed to protecting personal information and for this demonstration site we are
    only collecting minimal personal information to support some operations of this site.  Our recommendation is that
    you provide no personally identifiable information - however most of what you do on this site is published on the
    internet and you should not consider anything that you post, answer or submit to this site as being private. There
    are laws in many countries against posting abusive or grossly offensive content on line and you should not do this
    on this site or anywhere else. You may use dummy data for all fields, however if you want to utilise the password
    reset functionality or receive email updates you will need to provide a valid email address that you have access to.
    If you choose to implement this software for your own site you would now need to define your own privacy policy.
 </p>
<p>We only use cookies to support basic operation of the site.</p>
<h1>How we use your personal data?</h1>
<p>We do not routinely analyse any data on usage of the site but we do investigate errors and issues and we also
    review the content in similar manner to other users of the site.  The purpose of the site is as a proof of
    concept for asynchronous decision making and we are not seeking to monetize personal information in any way at
    this time.  </p>
<p>We do not currently host adverts on the site and we do not provide data to third parties.  We do not use personal
    data to make automated decisions, however the purpose of the site, asynchronous decision-making, is to make
    decisions based on applying simple rules to individual users’ answers.  We are not convinced that meetings and
    elections always lead to good decisions and hence the desire to explore alternative methods of group decision
    making.</p>
<p>The site is hosted on a cloud platform provided by PythonAnywhere and the underlying platform is from Amazon
    Web Services.  Both these organisations have privacy policies that are acceptable to us and it would only be in
    exceptional circumstances that they would have any access to the data hosted on the site.</p>
<p>We reserve the right to delete your personal data at any time and in general we are anonymizing data on resolution
    so question reasons and answers are no longer attributed after question resolution or action/issue agreement.</p>
<h1>How we keep your data safe?</h1>
    <p>The website uses industry standard security measures to protect the database and website.  Emails and user names
        are not disclosed and passwords are always stored in an encrypted format.  Comments and discussion points can be
        submitted against either a user id or your name – however if you don’t want these to be identifiable then you
        can use an alias rather than your real name.  You can switch to extreme privacy mode and then comments you make
        on the site will not show your username.  This setting and your name, address and email can all be updated from
        the <a href="{{=URL('default','user',args='profile')}}">profile</a> section at the top right of the site.</p>


