{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<h1>Networked Decision Making Privacy Policy</h1>

<p>At Net Decision Making we are committed to
    safeguarding and preserving the privacy of our visitors. This site is for demonstration and testing purposes
    and we are not doing anything with the data that is collected and displayed on the site other than displaying
see on the site.  Our recommendation is that you provide no personally identifiable information - however most of what
you do on this site is published on the information and you should not consider anything that you post, answer or submit
to this site as being private.  If you choose to implement this software for your own site you would now need to define
your own privacy policy</p>

<p>Being redone for GDPR</p>
