{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layoutgraph.html'}}
{{from gluon import XML}}
{{from jointjs2py import portangle,addobjects,newmetlink,initgraph}}
{{from ndsfunctions import truncquest}}

    <div id="message"></div>
    <div id="ajaxlink"></div>
    <div id="graph">
    <div id="toolbox" class >
      <input type="file" id="hidden-file-upload"><input id="upload-input" type="image" title="upload graph" src="/nds/static/images/upload-icon.png" alt="upload graph"> <input type="image" id="download-input" title="download graph" src="/nds/static/images/download-icon.png" alt="download graph"> <input type="image" id="delete-graph" title="delete graph" src="/nds/static/images/trash-icon.png" alt="delete graph">
    </div>
    </div>

    <script>
        /*{"edges":*/

        /*var d3nodes  = [{"id":2,"title":"can I edit","x":230,"y":494},{"id":3,"title":"test","x":436,"y":309}]*/
        var d3nodes = {{=XML(d3nodes)}};
        var vieweventmap = false
        /*var d3edges = [];
        var d3edges = [{"source":2,"target":3}]
        var d3edges = [{"source":13,"target":14}]*/
        var d3edges = {{=XML(d3edges)}};

        d3edges.forEach(function(e, i){
              d3edges[i] = {source: d3nodes.filter(function(n){return n.serverid == e.source;})[0],
                          target: d3nodes.filter(function(n){return n.serverid == e.target;})[0],
                          dasharray: e.dasharray,
                          sourceid: e.source}});


        function requestLink(sourceId,targetId)
        {
        ajax('{{=URL('network','linkrequest')}}'+'/'+sourceId+'/'+targetId+'/', ['bla'], 'ajaxlink');
        };

        function deleteLink(sourceId,targetId)
        {
        ajax('{{=URL('network','linkrequest')}}'+'/'+sourceId+'/'+targetId+'/delete/', ['bla'], 'ajaxlink');
        };


        var ajaxquesturl = '{{=URL('network','ajaxquest')}}?'


        function out(m) {
        $('#message').html(m);
        };
    </script>
        


