{{from ndspermt import make_button, get_actions, get_buttons}}
{{left_sidebar_enabled,right_sidebar_enabled=True,False}}
{{extend 'layout.html'}}

<h1>Question</h1>
<p>{{=MARKMIN(quest['questiontext'])}}</p>

<h2>Answers</h2>
{{if quest['status'] == 'Resolved':}}
<p>Users have resolved that the correct answer is: </p>
<p>{{=quest.correctanstext()}}</p>
{{pass}}

<div id='chartdiv'> </div>

<p>This question has been answered {{=quest['totanswers']()-numpass}} times. {{=numpass}} users passed on this question.  The current category is {{=quest['category']}}.</p>

{{if quest['status'] == 'Resolved':}}
{{if quest['answerreasons'] <> '':}}
<h2>Reasons</h2>
{{=MARKMIN(quest['answerreasons'])}}
{{=MARKMIN(quest['answerreason2'])}}
{{=MARKMIN(quest['answerreason3'])}}
{{pass}}

<p>{{=viewtext}} This question is resolved - if you think the answer is wrong you may wish to challenge </p>
<h2>Challenge</h2>
<p><INPUT TYPE=BUTTON class="btn btn-warning  btn-sm" onclick="ajax('{{=URL('viewquest','challenge',args=quest['id'])}}', ['challreason'], 'target')" VALUE="Challenge"> Reason: <input type="text" name="challreason" value="Enter reason for challenge" onfocus="if($(this).val() == 'Enter reason for challenge') $(this).val('')" onblur="if($(this).val() == '') $(this).val('Enter reason for challenge')"></p>

{{else:}}
<h2>Status</h2>
<p>{{=viewtext}} This question is currently {{=quest['status']}}.  You don't have the option to challenge or agree and disagree at present because there is no resolved answer. </p>


{{pass}}

<div id="target"></div>

<h2>Urgency and importance</h2>

{{if uqanswered:}}
<p>Here is how you and other people have rated the urgency and importance of the question so far.</p>
<table id='TabUrgency' class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th width="20%"></th>
                        <th width="40%">Urgency</th>
                        <th width="40%">Importance</th>
                    </tr>
                </thead>
                    <tbody>
                    <tr>
                        <th>Overall</th>
                        <td><input id="urgslide" type = "range" name="urgslider"  min="0"    max="10" value="{{=quest['urgency']}}" step="1" disabled /></td>
                        <td><input id="urgslide" type = "range" name="urgslider"  min="0"    max="10" value="{{=quest['importance']}}" step="1" disabled/></td>
                    </tr>
                    <tr>
                        <th>You</th>
                        <td><input id="urgslide" type = "range" name="urgslider"  min="0"    max="10" value="{{=uqurg}}" step="1" disabled /></td>
                        <td><input id="urgslide" type = "range" name="urgslider"  min="0"    max="10" value="{{=uqimp}}" step="1" disabled/></td>
                    </tr>
                    </tbody>
                </table>

{{else:}}
<p>Here is how other people rated the urgency and importance of this question. </p>
<table id='TabUrgency' class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th width="12%"></th>
                        <th width="44%">Urgency</th>
                        <th width="44%">Importance</th>
                    </tr>
                </thead>
                    <tbody>
                    <tr>
                        <th>Overall</th>
                        <td><input id="urgslide" type = "range" name="urgslider"  min="0"    max="10" value="{{=quest['urgency']}}" step="1" disabled /></td>
                        <td><input id="urgslide" type = "range" name="urgslider"  min="0"    max="10" value="{{=quest['importance']}}" step="1" disabled/></td>
                    </tr>
                    </tbody>
                </table>
{{pass}}


<script>
    var ansdata = {{=vardata}}
</script>

<p>{{=get_buttons(quest['qtype'], quest['status'], 'std', False, quest['id'], 'View')}} <class="forminline"><INPUT TYPE=BUTTON class="btn btn-primary btn-sm" onclick="parent.location='{{=URL('comments',args=[quest['id']])}}'" VALUE="View & Add Comments">
<INPUT TYPE=BUTTON class="btn btn-info  btn-sm" onClick="parent.location='{{=URL('useranswers',args=[quest['id']])}}'" VALUE="Details"></p>

{{block left_sidebar}}
{{include 'newleftside.html'}}

{{end}}


<!--[if lt IE 9]><script  src="{{=URL('static','js/excanvas.min.js')}}"></script><![endif]-->
<script src="{{=URL('static','js/jquery.jqplot.js')}}"></script></script>

<link rel="stylesheet" type="text/css" href="{{=URL('static','css/jquery.jqplot.css')}}" />

<script src="{{=URL('static','js/jqplot.pieRenderer.min.js')}}"></script>

<script>

jQuery(document).ready(function(){
//var data = ansdata;
  var plot1 = jQuery.jqplot ('chartdiv', [ansdata],
    {
      seriesDefaults: {
        // Make this a pie chart.
        renderer: jQuery.jqplot.PieRenderer,
        rendererOptions: {
          // Put data labels on the pie slices.
          // By default, labels show the percentage of the slice.
          showDataLabels: true
        }
      },

    seriesColors: ["#579575", "#4bb2c5", "#c5b47f", "#EAA228",  "#839557", "#958c12",
        "#953579", "#4b5de4", "#d8b83f", "#ff5800", "#0085cc"],  // colors that will
         // be assigned to the series.  If there are more series than colors, colors
         // will wrap around and start at the beginning again.

    title: 'Answer Analysis',      // Title for the plot.  Can also be specified as an object like:

      grid: {
        background: '#f8f8f8'    // CSS color spec for background color of grid.
},
      legend: { show:true, location: 'e' }
    }
  );


});

</script>



 




