{{from ndspermt import get_event_buttons}}
{{extend 'layout.html'}}

{{include 'event/eventdetails.i'}}

<p>Event Created.  As this is an asynchronous decision making platform their is no need to
    wait until the event to progress.  You should now link your issues, questions and actions
    to the event and users can work on resolving questions and approving actions in advance.  If everything is resolved
    in advance you may decide there is no need for the event or you may prefer to review and discuss. </p>

<h2>What to do next</h2>

<p>The next steps depend on whether the issues, questions and actions are submitted and you just need to link
    them to the event.  If so you should choose the link existing questions and actions buttons.  If not you
    should submit your questions and actions using the buttons below.  Once actions and questions are linked to the
    event the final activity is to setup the links you see between questions and actions such that they are related in a
    sensible order for the event and this is completed with the eventmap button. You should also tell people about the
    event. If the event is set as shared then other users may also attach items that they want addressed as part of the
    event.</p>

</p>{{=get_event_buttons(eventid, eventrow.shared, eventrow.owner, auth.user_id, 'accept')}}</p>
{{block right_sidebar}}

{{include 'sidebar.html'}}
