{{from ndsfunctions import truncquest}}
{{from ndspermt import get_buttons, get_event_buttons}}
{{extend 'layout.html'}}
{{include 'event\eventdetails.i'}}

{{#include 'event\eventitems.i'}}

{{if agreed_actions:}}
<h2>Agreed Actions</h2>
<table id='agreed_actions' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="5%">Type</th>
                        <th width="95%">Action</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(agreed_actions):}}
{{if i==items_per_page: break}}
<tr>
<th><a href="{{=URL('editeventquest', args=[row.questid])}}">A</a></th>
<td>{{=truncquest(row.questiontext)}}
{{=get_event_buttons(eventrow.id, eventrow.shared, eventrow.owner, auth.user_id, 'eventreview')}}</td>
</tr>
{{pass}}

 </tbody>
</table>
{{pass}}

{{if disagreed_actions:}}
<h2>Disagreed Actions</h2>
<table id='agreed_actions' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="5%">Type</th>
                        <th width="95%">Action</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(disagreed_actions):}}
{{if i==items_per_page: break}}
<tr>
<th><a href="{{=URL('editeventquest', args=[row.questid])}}">A</a></th>
<td>{{=truncquest(row.questiontext)}}
{{=get_buttons(row.qtype, row.queststatus, 'default', row.questid, row.auth_userid, auth.user_id, False, 'eventreview')}}</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}


{{if agreed_quests:}}
<h2>Agreed Questions</h2>
<table id='agreed_quests' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="5%">Level</th>
                        <th width="62%">Question</th>
                        <th width="33%">Answer</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(agreed_quests):}}
{{if i==items_per_page: break}}
<tr>
<th><a href="{{=URL('eventitemedit',args=[row.questid])}}">Q</a></th>
<td>{{=truncquest(row.questiontext)}}
    {{=get_buttons(row.qtype, row.queststatus, 'default', row.questid, row.auth_userid, auth.user_id, False, 'eventreview')}}</td>
<td>{{=row.correctanstext()}}</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}

{{if agreed_issues:}}
<h2>Agreed Issues</h2>
<table id='agreed_issues' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="5%">Type</th>
                        <th width="95%">Issue</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(agreed_issues):}}
{{if i==items_per_page: break}}
<tr>
<th><a href="{{=URL('editeventquest', args=[row.questid])}}">A</a></th>
<td>{{=truncquest(row.questiontext)}}
{{=get_buttons(row.qtype, row.queststatus, 'default', row.questid, row.auth_userid, auth.user_id, False, 'eventreview')}}</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}

{{if disagreed_issues:}}
<h2>Disagreed Issues</h2>
<table id='agreed_issues' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="5%">Type</th>
                        <th width="95%">Issue</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(disagreed_issues):}}
{{if i==items_per_page: break}}
<tr>
<th><a href="{{=URL('editeventquest', args=[row.questid])}}">A</a></th>
<td>{{=truncquest(row.questiontext)}}
{{=get_buttons(row.qtype, row.queststatus, 'default', row.questid, row.auth_userid, auth.user_id, False, 'eventreview')}}</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}

{{if inprog_actions:}}
<h2>Actions in Progress</h2>
<table id='inprog_actions' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="5%">Type</th>
                        <th width="95%">Action</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(inprog_actions):}}
{{if i==items_per_page: break}}
<tr>
<th><a href="{{=URL('editeventquest', args=[row.questid])}}">A</a></th>
<td>{{=truncquest(row.questiontext)}}
{{=get_buttons(row.qtype, row.queststatus, 'default', row.questid, row.auth_userid, auth.user_id, False, 'eventreview')}}</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}

{{if inprog_quests:}}
<h2>Questions In Progress</h2>
<table id='inprog_quests' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="5%">Level</th>
                        <th width="62%">Question</th>
                        <th width="33%">Answers</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(inprog_quests):}}
{{if i==items_per_page: break}}
<tr>
<th><a href="{{=URL('eventitemedit',args=[row.questid])}}">Q</a></th>
<td>{{=truncquest(row.questiontext)}}
    {{=get_buttons(row.qtype, row.queststatus, 'default', row.questid, row.auth_userid, auth.user_id, False, 'eventreview')}}</td>
<td>{{=row.answers}}</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}

<p>{{=get_event_buttons(eventrow.id, eventrow.shared, eventrow.owner, auth.user_id, 'eventreview')}}</p>
