{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}
{{from ndsfunctions import truncquest}}

{{include 'event/eventdetails.i'}}
<br>
<div>
        <table class="table table-bordered">
            <tbody>
            <tr>
            <th>
      {{if qtype=='action':}}
Action
{{elif qtype=='issue':}}
    Issue
{{else:}}
Question
{{pass}}
</th>

<td>
{{=MARKMIN(questiontext)}}
</td>
</tr>
</tbody>
</table>
</div>


<table id='TabAnswers' class=' table table-condensed table-bordered answers'>
 <tbody>
<tr>
<td width="5%"> <input type="radio" name="ans" value="-1" onchange="showansValue(this.value)"></td>
<td width="95%">Not Resolved</td>
</tr>
{{anslen = len(anslist)}}
{{if qtype!='quest':}}
{{anslen-=1}}
{{pass}}
{{for k in xrange(0, anslen):}}
<tr>
<td><input type="radio" name="ans" value="{{=k}}" onchange="showansValue(this.value)" ></td>
<td>{{=anslist[k]}}</td>
</tr>
{{pass}}
 </tbody>
</table>

{{=form}}



<script>
    {{include 'event/eventitemedit.js'}}
</script>
