{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}
{{from ndsfunctions import truncquest}}

{{include 'event\eventdetails.i'}}

<p><INPUT TYPE=BUTTON class="btn btn-primary btn-sm" onclick="parent.location='{{=URL('submit','new_question',args=['action',0,eventid])}}'" VALUE="Linked Action">
  <INPUT TYPE=BUTTON class="btn btn-primary btn-sm" onClick="parent.location='{{=URL('submit','new_question',args=['quest',0,eventid])}}'" VALUE="Linked Question">
  <INPUT TYPE=BUTTON  class="btn btn-primary btn-sm " onclick="parent.location='{{=URL('event','vieweventmap',args=[eventid])}}'" VALUE="Event Network">

<div id="target"></div>

<h1>Questions in progress available for linking</h1>
<div id="questprog">
    <script>
$("#questprog").load("{{=URL('default', 'questload.load', args=['event'], vars=dict(selection='QP',event=unspecevent, items_per_page=50, sortby='ResDate'))}}","test", function() {
  $('#QP').DataTable();} );
</script>

</div>

<h1>Actions in progress available for linking</h1>
<div id="actionprog">
    <script>
$( "#actionprog" ).load("{{=URL('default', 'questload.load', args=['event'], vars=dict(selection='AP', event=unspecevent, items_per_page=50, query='home', sortby='ResDate'))}}","test", function() {
  $('#AP').DataTable();} );
</script>
</div>



