{{from ndsfunctions import truncquest}}
{{from ndspermt import get_buttons, get_event_buttons}}
{{extend 'layout.html'}}
{{include 'event/eventdetails.i'}}

<div id="graph">
{{=LOAD('event', 'eventreviewmap.load', args=eventrow.id, ajax=True,target="eventmap")}}
</div>

{{if agreed_actions:}}
<h2>Agreed Actions</h2>
<table id='agreed_actions' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="95%">Action</th>
                        <th width="5%">Admin Resolve</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(agreed_actions):}}
{{if i==items_per_page: break}}
<tr>
<td>{{=truncquest(row.questiontext)}}
 {{=get_buttons('eventitem', row.status, 'default', row.id, row.auth_userid, auth.user_id, False, 'eventreview', row.questid)}}</td>
<td>{{=row.adminresolve}}</td>
</tr>
{{pass}}

 </tbody>
</table>
{{pass}}

{{if disagreed_actions:}}
<h2>Disagreed Actions</h2>
<table id='agreed_actions' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th>Action</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(disagreed_actions):}}
{{if i==items_per_page: break}}
<tr>
<td>{{=truncquest(row.questiontext)}}
 {{=get_buttons('eventitem', row.status, 'default', row.id, row.auth_userid, auth.user_id, False, 'eventreview', row.questid)}}</td>
    <td>{{=row.adminresolve}}</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}


{{if agreed_quests:}}
<h2>Agreed Questions</h2>
<table id='agreed_quests' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="60%">Question</th>
                        <th width="20%">Answers</th>
                        <th width="15%">Answer</th>
                        <th width="5%" data-toggle ="popover" title ="True if owner set the final status of item" data-content="">Amended</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(agreed_quests):}}
{{if i==items_per_page: break}}
<tr>
<td>{{=truncquest(row.questiontext)}}
    {{=get_buttons('eventitem', row.status, 'default', row.id, row.auth_userid, auth.user_id, False, 'eventreview', row.questid)}}</td>
    <td>{{=row.answers}}</td>
<td>{{=row.correctanstext()}}</td>
    <td>{{=row.adminresolve}}</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}

{{if agreed_issues:}}
<h2>Agreed Issues</h2>
<table id='agreed_issues' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="95%">Issue</th>
                        <th width="5%" data-toggle ="popover" title ="True if owner set the final status of item" data-content="">Amended</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(agreed_issues):}}
{{if i==items_per_page: break}}
<tr>
<td>{{=truncquest(row.questiontext)}}
{{=get_buttons('eventitem', row.status, 'default', row.id, row.auth_userid, auth.user_id, False, 'eventreview', row.questid)}}</td>
    <td>{{=row.adminresolve}}</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}

{{if disagreed_issues:}}
<h2>Disagreed Issues</h2>
<table id='agreed_issues' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="95%">Issue</th>
                        <th width="5%" data-toggle ="popover" title ="True if owner set the final status of item" data-content="">Amended</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(disagreed_issues):}}
{{if i==items_per_page: break}}
<tr>
<td>{{=truncquest(row.questiontext)}}
{{=get_buttons('eventitem', row.status, 'default', row.id, row.auth_userid, auth.user_id, False, 'eventreview', row.questid)}}</td>
    <td>{{=row.adminresolve}}</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}

{{if inprog_actions:}}
<h2>Actions in Progress</h2>
<table id='inprog_actions' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="95%">Action</th>
                        <th width="5%" data-toggle ="popover" title ="True if owner set the final status of item" data-content="">Amended</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(inprog_actions):}}
{{if i==items_per_page: break}}
<tr>
<td>{{=truncquest(row.questiontext)}}
{{=get_buttons('eventitem', row.status, 'default', row.id, row.auth_userid, auth.user_id, False, 'eventreview', row.questid)}}</td>
    <td>{{=row.adminresolve}}</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}

{{if inprog_quests:}}
<h2>Questions In Progress</h2>
<table id='inprog_quests' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="60%">Question</th>
                        <th width="30%">Answers</th>
                        <th width="5%" data-toggle ="popover" title ="True if owner set the final status of item" data-content="">Amended</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(inprog_quests):}}
{{if i==items_per_page: break}}
<tr>
<td>{{=truncquest(row.questiontext)}}
     {{=get_buttons('eventitem', row.status, 'default', row.id, row.auth_userid, auth.user_id, False, 'eventreview', row.questid)}}</td>
<td>{{=row.answers}}</td>
    <td>{{=row.adminresolve}}</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}

{{if inprog_issues:}}
<h2>Issues in Progress</h2>
<table id='inprog_issues' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="95%">Issue</th>
                        <th width="5%" data-toggle ="popover" title ="True if owner set the final status of item" data-content="">Amended</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(inprog_issues):}}
{{if i==items_per_page: break}}
<tr>
<td>{{=truncquest(row.questiontext)}}
{{=get_buttons('eventitem', row.status, 'default', row.id, row.auth_userid, auth.user_id, False, 'eventreview', row.questid)}}</td>
    <td>{{=row.adminresolve}}</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}

<p>{{=get_event_buttons(eventrow.id, eventrow.evt_shared, eventrow.evt_owner, auth.user_id, 'eventreview', eventrow.status, eventrow.next_evt)}}</p>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
     <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="mySmallModalLabel">Are you sure?</h4>
        </div>
        <div class="modal-body">
          This set the archiving event to archived which permanently locks the outcome - make sure everything is
            set before doing this as it cannot be undone. Archived status returns resolved questions and disagreed issues to the unspecified event but agreed issues, unresolved questions and actions which are not completed will roll-forward to the next event if it has been created before the event is archived. {{if not eventrow.next_evt:}} WARNING: this event does not currently have a next event set. {{pass}}
            <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"
                  onclick="ajax('{{=URL('event','archive', args=[eventrow.id, 'archive', eventrow.next_evt], user_signature=True)}}', ['challreason'], ':eval')">
              Save changes</button>
        </div>
        </div>
    </div>
  </div>
</div>
