{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<div id="events">

</div>

    <p>
    {{if scope == 'Unspecified':}}

    <INPUT TYPE=BUTTON class="btn btn-primary btn-sm" onclick="parent.location='{{=URL('event','index',args=['Past'])}}'" VALUE="Past Events">

    {{else:}}
         <INPUT TYPE=BUTTON class="btn btn-primary btn-sm" onclick="parent.location='{{=URL('event','index')}}'" VALUE="Upcoming">

    {{pass}}
</p>
    <script>
        $(document).ready( function() {
            $("#events").load("{{=URL('event', 'eventqry.load', args=[scope], vars=dict(selection='QP'))}}", "test", function () {
                $('#EventTable').DataTable();
            });

            $(" body").tooltip({selector: '[data-toggle = popover]'});
        });
</script>
