{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<div id="events">
    <script>
$("#events").load("{{=URL('event', 'eventqry.load', args=[scope], vars=dict(selection='QP'))}}","test", function() {
  $('#EventTable').DataTable();} );
</script>

</div>

    <p>
    {{if scope == 'Unspecified':}}

    <INPUT TYPE=BUTTON class="btn btn-primary btn-sm" onclick="parent.location='{{=URL('event','index',args=['Past'])}}'" VALUE="Past Events">

    {{else:}}
         <INPUT TYPE=BUTTON class="btn btn-primary btn-sm" onclick="parent.location='{{=URL('event','index')}}'" VALUE="Upcoming">

    {{pass}}
</p>
<h3>About Events</h3>
<p>Events can be created to group items and may relate to an actual or virtual meeting.  They provide a focus for
working on solutions to a group of items.  Items can only be linked to one open event.  After the event is over it
    should be archived and this copies the related questions and locks the result of the event and releases the
    questions back so they are available for attaching to future events.  Archiving has two stages -archiving and
    archived.  The first stage allows the event owner to update final answers and status from the event and the second
archived status locks the event into its finals status.</p>