{{from ndsfunctions import truncquest}}
{{from ndspermt import get_buttons, get_event_buttons}}
{{extend 'layout.html'}}
{{include 'event\eventdetails.i'}}

<div id="eventmap">

</div>

{{#LOAD('event','vieweventmap2.load',args=eventrow.id,ajax=True,target="eventmap")}}

{{#include 'event/eventitems.i'}}

{{if agreed_actions:}}
<h2>Agreed Actions</h2>
<table id='agreed_actions' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="5%">Type</th>
                        <th width="90%">Action</th>
                        <th width="5%">Admin Resolve</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(agreed_actions):}}
{{if i==items_per_page: break}}
<tr>
<th><a href="{{=URL('editeventquest', args=[row.id])}}">A</a></th>
<td>{{=truncquest(row.questiontext)}}
{{=get_event_buttons(eventrow.id, eventrow.evt_shared, eventrow.evt_owner, auth.user_id, 'eventreview')}}</td>
<td>NA</td>
</tr>
{{pass}}

 </tbody>
</table>
{{pass}}

{{if disagreed_actions:}}
<h2>Disagreed Actions</h2>
<table id='agreed_actions' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="5%">Type</th>
                        <th width="95%">Action</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(disagreed_actions):}}
{{if i==items_per_page: break}}
<tr>
<th><a href="{{=URL('editeventquest', args=[row.id])}}">A</a></th>
<td>{{=truncquest(row.questiontext)}}
{{=get_buttons(row.qtype, row.status, 'default', row.id, row.auth_userid, auth.user_id, False, 'eventreview')}}</td>
    <td>NA</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}


{{if agreed_quests:}}
<h2>Agreed Questions</h2>
<table id='agreed_quests' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="5%">Type</th>
                        <th width="60%">Question</th>
                        <th width="30%">Answer</th>
                        <th width="5%" data-toggle ="popover" title ="True if owner set the final status of item" data-content="">Owner</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(agreed_quests):}}
{{if i==items_per_page: break}}
<tr>
<th><a href="{{=URL('eventitemedit',args=[row.id])}}">Q</a></th>
<td>{{=truncquest(row.questiontext)}}
    {{=get_buttons(row.qtype, row.status, 'default', row.id, row.auth_userid, auth.user_id, False, 'eventreview')}}</td>
<td>{{=row.correctanstext()}}</td>
    <td>NA</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}

{{if agreed_issues:}}
<h2>Agreed Issues</h2>
<table id='agreed_issues' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="5%">Type</th>
                        <th width="90%">Issue</th>
                        <th width="5%" data-toggle ="popover" title ="True if owner set the final status of item" data-content="">Owner</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(agreed_issues):}}
{{if i==items_per_page: break}}
<tr>
<th><a href="{{=URL('editeventquest', args=[row.id])}}">A</a></th>
<td>{{=truncquest(row.questiontext)}}
{{=get_buttons(row.qtype, row.status, 'default', row.id, row.auth_userid, auth.user_id, False, 'eventreview')}}</td>
    <td>NA</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}

{{if disagreed_issues:}}
<h2>Disagreed Issues</h2>
<table id='agreed_issues' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="5%">Type</th>
                        <th width="90%">Issue</th>
                        <th width="5%" data-toggle ="popover" title ="True if owner set the final status of item" data-content="">Owner</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(disagreed_issues):}}
{{if i==items_per_page: break}}
<tr>
<th><a href="{{=URL('editeventquest', args=[row.id])}}">A</a></th>
<td>{{=truncquest(row.questiontext)}}
{{=get_buttons(row.qtype, row.status, 'default', row.id, row.auth_userid, auth.user_id, False, 'eventreview')}}</td>
    <td>NA</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}

{{if inprog_actions:}}
<h2>Actions in Progress</h2>
<table id='inprog_actions' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="5%">Type</th>
                        <th width="90%">Action</th>
                        <th width="5%" data-toggle ="popover" title ="True if owner set the final status of item" data-content="">Owner</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(inprog_actions):}}
{{if i==items_per_page: break}}
<tr>
<th><a href="{{=URL('editeventquest', args=[row.id])}}">A</a></th>
<td>{{=truncquest(row.questiontext)}}
{{=get_buttons(row.qtype, row.status, 'default', row.id, row.auth_userid, auth.user_id, False, 'eventreview')}}</td>
    <td>NA</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}

{{if inprog_quests:}}
<h2>Questions In Progress</h2>
<table id='inprog_quests' class='table issuetable2 table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th width="5%">Level</th>
                        <th width="60%">Question</th>
                        <th width="30%">Answers</th>
                        <th width="5%" data-toggle ="popover" title ="True if owner set the final status of item" data-content="">Owner</th>
                    </tr>
                </thead>
                    <tbody>
{{for i,row in enumerate(inprog_quests):}}
{{if i==items_per_page: break}}
<tr>
<th><a href="{{=URL('eventitemedit',args=[row.id])}}">Q</a></th>
<td>{{=truncquest(row.questiontext)}}
    {{=get_buttons(row.qtype, row.status, 'default', row.id, row.auth_userid, auth.user_id, False, 'eventreview')}}</td>
<td>{{=row.answers}}</td>
    <td>NA</td>
</tr>
{{pass}}
 </tbody>
</table>
{{pass}}

<p>{{=get_event_buttons(eventrow.id, eventrow.evt_shared, eventrow.evt_owner, auth.user_id, 'eventreview')}}</p>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
     <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="mySmallModalLabel">Are you sure?</h4>
        </div>
        <div class="modal-body">
          This sets an open event to archiving which detaches allows the event owner to
            record final record for that event.  No items can be added to the event once archiving starts.  It will also set an archiving event to archived which permanently locks the outcome - make sure everything is at the correct status before doing this. Neither stage can currently be undone.
            <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"
                  onclick="ajax('{{=URL('event','archive', args=[eventrow.id,'archive'], user_signature=True)}}', ['challreason'], ':eval')">
              Save changes</button>
        </div>
        </div>
    </div>
  </div>
</div>

