{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{load_graph=True}}
{{extend 'layout.html'}}
 
{{from ndsfunctions import truncquest}}
{{from ndspermt import get_event_buttons}}

{{include 'event/eventdetails.i'}}

{{include 'event/eventmap.i'}}

<p>{{=get_event_buttons(eventrow.id, eventrow.evt_shared, eventrow.evt_owner, auth.user_id, 'eventmap', eventrow.status)}}
</p>
{{if eventrow.status != 'Archived':}}
{{include 'event/eventitems.i'}}
{{else:}}
{{include 'event/eventarchived.i'}}
{{pass}}

    <script>
    {{include 'event/vieweventmapd3v4.js'}}
    </script>



    <script src="{{=URL('static','js/graphd3v4.js')}}"></script>



