{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}
{{from jointjs2py import portangle,linkangle,rectangle,addobjects,newmetlink,initgraph}}
{{from ndsfunctions import truncquest}}
{{from ndspermt import get_event_buttons}}

{{include 'event\eventdetails.i'}}

<script>


    var myJSON = {{=XML(cellsjson)}};
    var cellsjson = {cells: myJSON};
</script>

<div id="target"></div>

<div id="paper-link-out"></div>

<div id="ajaxlink"></div>

<div id="map"></div>  

<p>{{=resultstring}}</p>


</p>{{=get_event_buttons(eventrow.id, eventrow.shared, eventrow.owner, auth.user_id, 'eventmap')}}
{{include 'event\eventitems.i'}}


<script type="text/javascript">

jQuery(document).ready(function(){

    {{=initgraph(1000,1000)}}

    joint.shapes.custom = {};
    // The following custom shape creates a link out of the whole element.
    joint.shapes.custom.ElementLink = joint.shapes.devs.Model.extend({
    // Note the `<a>` SVG element surrounding the rest of the markup.
    markup: '<a><g class="rotatable"><g class="scalable"><rect/></g><text/></g></a>',
    defaults: joint.util.deepSupplement({
        type: 'custom.ElementLink'
    }, joint.shapes.devs.Model.prototype.defaults)
    });


    joint.shapes.custom = {};
    // The following custom shape creates a link out of the whole element.
    joint.shapes.custom.ElementLink = joint.shapes.basic.Rect.extend({
    // Note the `<a>` SVG element surrounding the rest of the markup.
    markup: '<a><g class="rotatable"><g class="scalable"><rect/></g><text/></g></a>',
    defaults: joint.util.deepSupplement({
        type: 'custom.ElementLink'
    }, joint.shapes.basic.Rect.prototype.defaults)
    });


    joint.shapes.custom.shape = joint.shapes.basic.Generic.extend(_.extend({}, joint.shapes.basic.PortsModelInterface, {

    markup: '<g class="rotatable"><g class="scalable"><path/></g><text class="label"/><g class="inPorts"/><g class="outPorts"/></g>',
    portMarkup: '<g class="port port<%= id %>"><circle class="port-body"/><text class="port-label"/></g>',

    defaults: joint.util.deepSupplement({

        type: 'devs.Model',
        size: { width: 60, height: 60 },

        inPorts: [],
        outPorts: [],

        attrs: {
            '.': { magnet: false },
            '.body': {
                width: 150, height: 250,
                stroke: '#000000'
            },
            '.port-body': {
                r: 10,
                magnet: true,
                stroke: '#000000'
            },
            text: {
                'pointer-events': 'none'
            },
            '.label': { text: 'Model', 'ref-x': .5, 'ref-y': 10, ref: '.body', 'text-anchor': 'middle', fill: '#000000' },
            '.inPorts .port-label': { x:-15, dy: 4, 'text-anchor': 'end', fill: '#000000' },
            '.outPorts .port-label':{ x: 15, dy: 4, fill: '#000000' }
        }

    }, joint.shapes.basic.Generic.prototype.defaults),

    getPortAttrs: function(portName, index, total, selector, type) {

        var attrs = {};

        var portClass = 'port' + index;
        var portSelector = selector + '>.' + portClass;
        var portLabelSelector = portSelector + '>.port-label';
        var portBodySelector = portSelector + '>.port-body';

        attrs[portLabelSelector] = { text: portName };
        attrs[portBodySelector] = { port: { id: portName || _.uniqueId(type) , type: type } };
        attrs[portSelector] = { ref: '.body', 'ref-y': (index + 0.5) * (1 / total) };

        if (selector === '.outPorts') { attrs[portSelector]['ref-dx'] = 0; }

        return attrs;
    }
}));

    // joint.shapes.custom.MyElementWithPorts = joint.shapes.basic.Path.extend(_.extend({}, joint.shapes.basic.PortsModelInterface, {
//     getPortAttrs: function(portName, index, total, selector, type) {
//         var attrs = {};
//         var portClass = 'port' + index;
//         var portSelector = selector + '>.' + portClass;
//         var portTextSelector = portSelector + '>text';
//         var portCircleSelector = portSelector + '>circle';
//
//         attrs[portTextSelector] = { text: portName };
//         attrs[portCircleSelector] = { port: { id: portName || _.uniqueId(type) , type: type } };
//         attrs[portSelector] = { ref: 'rect', 'ref-y': (index + 0.5) * (1 / total) };
//
//         if (selector === '.outPorts') { attrs[portSelector]['ref-dx'] = 0; }
//
//         return attrs;
//     }
//}));

    graph.fromJSON(cellsjson);

    graph.on('change:source change:target', function(link) {
    var sourcePort = link.get('source').port;
    var sourceId = link.get('source').id;
    var targetPort = link.get('target').port;
    var targetId = link.get('target').id;

    var m = [
        'The port <b>' + sourcePort,
        '</b> of element with ID <b>' + sourceId,
        '</b> is connected to port <b>' + targetPort,
        '</b> of elemnt with ID <b>' + targetId + '</b>'
    ].join('');


    if (targetId.substr(0,3) != 'und') {
    requestLink(sourceId,targetId);
    };
    out(m);

});


    graph.on('change:position', function(element) {
    var sourceId = element.id;
    var sourceposx = element.get('position')['x'];
    var sourceposy = element.get('position')['y'];

    var m = ['The element moved' ,
    sourceId,
    '   ' + sourceposx,
    '   ' + sourceposy ].join('');
    moveElement(sourceId, sourceposx, sourceposy);
    out(m);
});

graph.on('remove', function(cell) {
    console.log('event: remove');
    if (cell instanceof joint.dia.Link) {
        var sourceId = cell.get('source').id;
        var targetId = cell.get('target').id;
        var m = [
        'The element with ID <b>' + sourceId,
        '</b> is reomved from elemnt with ID <b>' + targetId + '</b>'
    ].join('');

    if (targetId.substr(0,3) != 'und') {
    deleteLink(sourceId,targetId);
    };

    out(m);
    }
});

function out(m) {
    $('#paper-link-out').html(m);
};

function requestLink(sourceId, targetId)
{
    ajax('{{=URL('network','linkrequest')}}'+'/'+sourceId+'/'+targetId+'/', ['bla'], 'ajaxlink');
};

function deleteLink(sourceId, targetId)
{
    ajax('{{=URL('network','linkrequest')}}'+'/'+sourceId+'/'+targetId+'/delete/', ['bla'], 'ajaxlink');
};

function moveElement(sourceId, sourceposx, sourceposy)
{
    ajax('{{=URL('event','move')}}'+'/'+{{=eventrow.id}}+'/'+sourceId+'/'+sourceposx+'/'+sourceposy+'/', ['bla'], 'ajaxlink');
};

});

</script>





 




